{% extends 'layout.html' %}

{% block content %}
   {% for post in posts  %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <b style="color:#61778C;">{{ post.sender_user_name }}</b>
              <small class="text-muted" style="float: right;">{{ post.created_date }}</small>
            </div>
              <b><p class="article-content">{{ post.message_title }}</p></b>
              <p class="article-content">{{ post.message }}</p>
          </div>
        </article>
    {% endfor %}



    <article class="media content-section" style="margin-top: 75px;">
  <div class="media-body">
    <div class="article-metadata">
      <b style="color:#61778C;">Send New Message</b>
    </div>

      <form action="/messageDetail/{{ receiver }}" method="POST" autocomplete="off">
        <div class="form-group">
            <label>Username</label>
            {% if session.username == NULL %}
               <input type="text" name="username" class="form-control" placeholder='Please login to send message' disabled>
          {% else %}
                <input type="text" name="username" class="form-control" value={{ session.username }} disabled>
          {% endif %}
        </div>
        <div class="form-group">
            <label>Title</label>
            {% if session.username == NULL %}
            <input type="text" name="userTitle" class="form-control" disabled >
            {% else %}
                <input type="text" name="userTitle" class="form-control">
            {% endif %}
        </div>
        <div class="form-group">
            <label>Message</label>
            {% if session.username == NULL %}
            <input type="text" name="userMessage" class="form-control" disabled >
            {% else %}
                <input type="text" name="userMessage" class="form-control" >
            {% endif %}
        </div>
      {% if session.username == NULL %}
        <p style="color:red;">Please login to send message</p>
      {% else %}
        <button type="submit" class="btn btn-primary" >Submit</button>
      {% endif %}
        </form>

  </div>
</article>
{% endblock %}

{% block right_content %}
    <article class="media content-section" style="margin-left: 100px; width: 250px;"><b><a href="/messages/" style="color:#61778C;">My Messages</a></b></article>

{% endblock %}